* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: gray;
    height: 30vh;
    width: 100%;
}

.main-header {
    height: 100vh;
    width: 100%;
    background-image: url("assets/velkommen.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%) contrast(100%) brightness(80%);
    
}

/* img {
    border-radius: 20px 20px 20px 20px;
} */

.content {
    /* width: 600px; */
    display: flex;
    justify-content: center;;
}

main article {
    max-width: 65ch;
}
#orange-cat {
    height: 300px;
}

#grey-cat {
    height: 300px;
}

.header-img {
    display: block;
    height: 80px;
    margin-top: 10px;
    margin-left: 20px;
}

#back-button {
    display: block;
    margin-top: 20px;
}

ul {
    margin: 20px;
}

ol {
    margin-left: 30px;
}

/* NAVIGATION TEST */
nav {
    max-width: 40vw;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    border: solid 1px green;
    padding: 1em 2em;
}