.nav-test {
  max-width: 40vw;
}

.nav-test-ul {
  list-style: none;
  margin: 0;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.nav-test-ul-li {
  border: solid 1px green;
  padding: 1em 2em;
}
