.nav-bar {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: rgba(150, 150, 80, 0.8);
  backdrop-filter: blur(8px);
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar ul {
  list-style: none;
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
}

.nav-bar ul li {
  margin: 0 1em 0 1em;
}

.nav-bar ul li a {
  text-decoration: none;
  color: darkslategray;
  font-weight: bold;
}
