.dt {
  margin: 7em auto;
  width: 600px;
  /* background-color: paleturquoise; */
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.dt-diamond1 {
  width: 200px;
  height: 200px;
  margin-right: 2em;
  background-color: lightcoral;
  rotate: 45deg;
}

.dt-diamond2 {
  width: 200px;
  height: 200px;
  margin-left: 2em;
  background-color: lightpink;
  rotate: 45deg;
}

.dt-base {
  margin: 3em auto;
  width: 800px;
  height: 80px;
  background-color: lightsalmon;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-line {
  width: 0.1em;
  height: 250px;
  border: 2px dashed gray;
  margin-top: -425px;
}

dt-base p {
  font-size: 1.5em;
  text-decoration: double;
}

.dt-diamond1 p,
.dt-diamond2 p {
  rotate: -45deg;
  margin: 4.5em 1.7em 0 3.5em;
}
